/data/
eval_results/*
/checkpoints/
/checkpoint_eot/
/protect_images/
/logs/
/logs_eot/
/baseline_images/
/real/
/plus/
/attention_diagnosis/
__pycache__/*checkpoints/
*.pth
*.pt
*.ckpt
Agent_VLM/mask_baseline.py
